.footer section {
	display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: rgba(153, 80, 202, 0.2);
}


.footer ol, ul {
	list-style: none;
}

.footer a {
  color: inherit;
  text-decoration: none;
  color: #00ffff;
}
.footer a:hover {
  color: inherit;
  text-decoration: none;
  color: white;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: #ffffff;
  font-weight: 600;
  line-height: 1.65;
  margin: 1em 0 1em 0;
}

.footer h1 a,
.footer h2 a,
.footer h3 a,
.footer h4 a,
.footer h5 a,
.footer h6 a {
  color: inherit;
  border-bottom: 0;
}

.footer #wrapper {
  -moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease,
    opacity 0.375s ease-out;
  -webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease,
    opacity 0.375s ease-out;
  -ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease,
    opacity 0.375s ease-out;
  transition: filter 0.35s ease, -webkit-filter 0.35s ease,
    opacity 0.375s ease-out;
  padding-top: 3.25em;
}

.footer #wrapper > * > .inner {
  padding: 4em 0 2em 0;
  margin: 0 auto;
  max-width: 80em;
  width: calc(100% - 6em);
}

.footer #contact {
  border-bottom: solid 1px rgba(212, 212, 255, 0.1);
  overflow-x: hidden;
}

.footer #contact > .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 0 !important;
}

.footer #contact > .inner > :nth-child(2n - 1) {
  padding: 4em 3em 2em 2em;
  border-right: solid 1px rgba(212, 212, 255, 0.1);
  width: 60%;
}

.footer #contact > .inner > :nth-child(2n) {
  padding-left: 3em;
  width: 40%;
}

.footer #contact > .inner > .split {
  padding: 0;
}

.footer #contact > .inner > .split > * {
  padding: 3em 0 1em 3em;
  position: relative;
}

.footer #contact > .inner > .split > *:before {
  border-top: solid 1px rgba(212, 212, 255, 0.1);
  content: "";
  display: block;
  margin-left: -3em;
  position: absolute;
  top: 0;
  width: calc(100vw + 3em);
}

.footer #contact > .inner > .split > :first-child:before {
  display: none;
}

.contact_method {
  margin: 0 0 2em 0;
  padding-left: 3.25em;
  position: relative;
}

.contact_method .icon {
  left: 0;
  position: absolute;
  top: 0.5em;
}

.contact_method .icon_phone {
  left: 0;
  position: absolute;
  top: 5.8em;
}

.contact-method h3 {
  margin: 0 0 0.5em 0;
}

#footerMini .copyright {
  font-size: 0.8em;
  color: white;
  list-style: none;
  padding-left: 0;
}

#footerMini .copyright li {
  display: inline-block;
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
}

#footerMini .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.footer form {
  margin: 0 0 2em 0;
}

.footer form > :last-child {
  margin-bottom: 0;
  margin-top: 5em;
}

.footer form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em;
}

.footer form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}

.footer form > .fields > .field.half {
  width: calc(50% - 0.75em);
}

.footer form > .fields > .field.third {
  width: calc(100% / 3 - 0.5em);
}

.footer form > .fields > .field.quarter {
  width: calc(25% - 0.375em);
}

.footer input[type="submit"].primary,
.footer input[type="reset"].primary,
.footer input[type="button"].primary,
.footer button.primary,
.footer .button.primary {
  opacity: 0.75;
  box-shadow: none;
  background-color: rgba(41, 7, 38, 0.322);
  color: #eee;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;
}

.footer input[type="submit"].primary:active,
.footer input[type="reset"].primary:active,
.footer input[type="button"].primary:active,
.footer button.primary:active,
.button.primary:active {
  color: #00ffff;
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
  justify-content: center;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

.footer label {
  color: #ffffff;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

.footer input[type="text"],
.footer input[type="password"],
.footer input[type="email"],
.footer input[type="tel"],
.footer input[type="search"],
.footer input[type="url"],
.footer select,
.footer textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 12px;
  border: 2px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  outline: 0;
  text-align: center;
  width: 100%;
  opacity: 0.75;
  font-family: 'Jura';
}

.footer input[type="text"]:invalid,
.footer input[type="password"]:invalid,
.footer input[type="email"]:invalid,
.footer input[type="tel"]:invalid,
.footer input[type="search"]:invalid,
.footer input[type="url"]:invalid,
.footer select:invalid,
.footer textarea:invalid {
  box-shadow: none;
}

.footer input[type="text"]:focus,
.footer input[type="password"]:focus,
.footer input[type="email"]:focus,
.footer input[type="tel"]:focus,
.footer input[type="search"]:focus,
.footer input[type="url"]:focus,
.footer select:focus,
.footer textarea:focus {
  border-color: rebeccapurple;
  box-shadow: 0 0 0 2px #9bf1ff;
}

.footer input[type="text"],
.footer input[type="password"],
.footer input[type="email"],
.footer input[type="tel"],
.footer input[type="search"],
.footer input[type="url"],
.footer select {
  height: 2.75em;
}

.footer textarea {
  padding: 0.75em 1em;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}

input[type="submit"].icon.solo,
input[type="reset"].icon.solo,
input[type="button"].icon.solo,
button.icon.solo,
.button.icon.solo {
  position: relative;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 4rem;
  text-indent: 4rem;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

input[type="submit"].icon.solo:before,
input[type="reset"].icon.solo:before,
input[type="button"].icon.solo:before,
button.icon.solo:before,
.button.icon.solo:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  line-height: inherit;
  font-size: 1.25rem;
  margin-right: 0;
  text-align: center;
  text-indent: 0;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
  font-size: 0.9rem;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2.75rem;
}

@media screen and (max-width: 980px) {
  .button {
    font-size: 0.9rem;
    height: 3.25rem;
    line-height: 3.25rem;
  }

  input[type="submit"].large,
  input[type="reset"].large,
  input[type="button"].large,
  button.large,
  .button.large {
    font-size: 1rem;
    height: 3.75rem;
    line-height: 3.75rem;
  }
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  pointer-events: none;
  opacity: 0.25;
}

.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 2px #00ffff;
  color: #00ffff !important;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  background-color: #212931;
  font-family: 'Jura', sans-serif;
  box-shadow: none;
  color: #ffffff;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  border: 2px solid #00ffff;
  color: #00ffff;

}

.icons {
  display:flex;
  justify-content: space-evenly;
  
}
