.contentClub {
  display: flex;
  margin: 150px 100px 0px 400px;
  width:1000px;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 20px; */
  color: #fff;
  background-color: rgba(31, 5, 39, 0.445);
  border-radius: 40px;
  height: 400px;

}
.imgClubInfo img {
  border-radius: 40px;
  width: 600px;
  height: 400px;
  margin-right: 100px;
  margin-bottom: 0px;
  /* padding: 20px; */
}

.infoClub {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.clubName {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.phoneHref {
  color: #00ffff;
}

.phoneHref:hover {
  color: #ffffff;
}

.buttonGoback {
  width: 100px;
}

.infoClub button {
  margin: 5px;
  margin-left: 0px;
  padding: 10px;
  background: none;
  border: none;
  background-color: rgba(41, 7, 38, 0.322);
  color: #fff;
  font-size: 17px;
  font-family: 'Jura', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  
}
.infoClub button:hover { 
  color: #00ffff;
}
