body{
  margin: 0;
}

.spin-wrapper{
  z-index: 1001;
  position: fixed;
  width: 100%;
  height: 150vh;
  background: #080705;

  .spinner{
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #A04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    
    &:before, &:after{
      content:'';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }
    
    &:before{
      border-top-color: #254E70;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 2s linear infinite;
    }
    
    &:after{
      border-top-color: #FFFBFE;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;  
      animation: spin 7s linear infinite;
    }
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.loaded_hiding .spin-wrapper {
  transition: 3s opacity;
  opacity: 0;
}

.loaded .spin-wrapper{
  display: none;
}
