@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body{
  /* background:hsla(0, 5%, 5%, 1); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('https://phonoteka.org/uploads/posts/2021-05/1620162517_3-phonoteka_org-p-fon-dlya-strima-komnata-3.jpg');
}
svg{
  width:50%;
}
