.adminForm {
  color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #21211d;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 2em;
  height: 18em;
  width: 50%;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.title {
  color: #eee;

  font-size: 15px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.input_container {
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 70%;
}


.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 115px;
}

.cut_short {
  width: 110px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #074DAA;
}

.submit {
  background-color: rebeccapurple;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  margin-bottom: 30px;
  outline: 0;
  text-align: center;
  width: 60%;
}

.submit:active {
  background-color: #06b;
}

.contentClub {
  display: flex;
  margin: 150px 100px 0px 100px;
  /* align-items: center; */
  justify-content: center;
  /* margin-right: 20px; */
  color: #fff;
  background-color: rgba(31, 5, 39, 0.445);
  border-radius: 40px;
  height: 400px;
 

}
.imgClubInfo img {
  border-radius: 40px;
  width: 600px;
  height: 400px;
  margin-top: 4px;
  margin-right: 100px;
  margin-bottom: 0px;
  /* padding: 20px; */
}

.infoClub {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.clubName {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.phoneHref {
  color: #00ffff;
}

.phoneHref:hover {
  color: #ffffff;
}

.infoClub button {
  margin: 5px;
  margin-left: 0px;
  padding: 10px;
  background: none;
  border: none;
  background-color: rgba(41, 7, 38, 0.322);
  color: #fff;
  font-size: 17px;
  font-family: 'Jura', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  
}
.infoClub button:hover { 
  color: #00ffff;
}

