.faqcont {
  
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.faq-row-wrapper {

  padding: 8px;
  border-radius: 13px;
  width: 550px;
  background-color: rgba(161, 52, 212, 0.616);
  .faq-title { 
    color: #ffffff;
  }
  .faq-body {    
      .faq-row {       
          .row-title { 
            font-size: 20px;           
            color: #00ffff;;                     
          }
          .row-content {           
              .row-content-text {
                color: aliceblue; 
              }
          }
      }
  }
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_icon-wrapper__2cftw svg {
  fill: var(--arrow-color, white);
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
  display: flex;
  justify-content: space-between;
  padding: 2px; 
  border-bottom: 0px solid #ccc;
}
footer, section {
  margin-top: 10px;
}
.styles_faq-row-wrapper__3vA1D h2{
  color: var(--arrow-color, white);
}
