.faqcont {

  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  opacity: .7;
}
.faq-row-wrapper {
  padding: 20px;
  border-radius: 13px;
  width: 580px;
  background-color: rgb(162, 52, 212);
  .faq-title { 
 
  }
  .faq-body {    
      .faq-row {       
          .row-title { 
            font-size: 20px;           
            color: rgb(3, 0, 0);                     
          }
          .row-content {           
              .row-content-text {
                color: aliceblue; 
              }
          }
      }
  }
}
