@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

/* * {
  box-sizing: border-box;
} */

/* body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: white;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

.container {
  margin: 0px 50px;
  /* height: 600px; */
  display: flex;
  margin-top: 2rem;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 12px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.h1 {
  color: rgba(238, 234, 230, 0.932);
  text-align: center;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}
